* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("../imagenes/frontal2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.2svw;
    text-indent: 2em;
    line-height: 150%;
    list-style-position: inside;
}

main {
    height: auto;
}

div {
    margin-top: 3%;
    width: 70%;
    float: left;
    margin-bottom: 5%;
}

img {
    max-width: 100%;
    user-select: none;
}

h1 {
    margin-bottom: 2%;
}

h3 {
    font-size: 1.8vw;
}

hr {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


a {
    color: #3b3b3b;
}

span {
    padding: 2%;
}

br {
    user-select: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover{
    color: #eabe3f;
}

#titulo {
    background-color: #3b3b3b;
    opacity: 90%;
    color: #fcfcfc;
    padding-top: 10%;
    margin: 0;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 2.8vw;
}

#subtitulo {
    text-align: center;
    margin-top: 1%;
}

#columna1 {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fcfcfc;
    /*column-count: 2;
    text-align: center;
    */
}

#contenedor_foto_perfil {
    text-align: center;
    display: block;
    margin-top: 1%;
}

#foto_perfil {
    border: solid;
    border-style: double;
    border-width: 5px;
    border-radius: 50%;
    border-color: #3b3b3b;
    height: 20%;
    width: 20%;
}

#titulo_centrado {
    margin-top: 2%;
    text-align: center;
    font-size: 2.5vw;
}

#icono_boton_marco {
    margin-left: 10%;
    color: #3b3b3b;
    text-align: center;
    --fa-animation-duration: 0s;
}

.icono_boton {
    cursor: pointer;
    user-select: none;
}

.icono_boton:hover {
    --fa-animation-duration: 1.5s;
    --fa-beat-scale: 1.2;
}



#desplegable {
    position: fixed;
    background-color: #3b3b3b;
    color: #fcfcfc;
    opacity: 95%;
    display: none;
    text-align: left;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    text-indent: 5%;
    width: 22%;
    height: auto;
    margin: 0;
    float: right;
    right: 0;
    top: 20%;
}